@font-face {
  font-family: "Inconsolata";
  src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
}

* {
  font-family: "Inconsolata", monospace;
  font-size: 15px;
}

p {
  line-height: 0.2em;
  white-space: nowrap;
}

span.strikethrough {
  text-decoration: line-through;
}

span.emphasize {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.33em;
}

/* span {
  white-space: nowrap;
} */